<% if alert.present? %>  
          <p class="alert alert-danger"><%= alert %></p>
        <% end %> 
        <h1><%= @search.question %></h1>
        <h2><%= @link %></h2>
        <h3><%= @show.css('a.question-hyperlink').first %></h3>